@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Questrial");

// set brand colors
$orange: #FF530D;
$lightorange: #FF812C;
$grey: rgb(214, 220, 228);

// update Bulma's navbar component variables
$navbar-height: 5rem;
$navbar-background-color:$grey;
$navbar-item-hover-background-color: $grey;
$navbar-item-active-color: $lightorange;
$navbar-item-hover-color: $lightorange;
$navbar-tab-active-border-bottom-color: $orange;
$navbar-tab-hover-border-bottom-color: $orange;
$navbar-padding-horizontal: 4rem;
$navbar-padding-vertical: 2rem;
$navbar-item-img-max-height: 10rem;
$tabs-link-active-color: $lightorange;


@import "~bulma/bulma";
//@import '~bulma-extensions';